.body-scheme {
    flex: 1;
    background: rgb(12, 32, 57);
    width: 100%;
    border: 1px solid rgb(86, 160, 207);
    border-top: 3px solid rgb(86, 160, 207);
    position: relative;
}

.scheme1 {
    /* width: 100vh; */
    width: 100%;
}

use:hover {
    filter: brightness(0.3) sepia(0.5) opacity(60%);
}