.navigation {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: buttonface;
}

.link:hover, .active {
    color: rgb(86, 160, 207);
}
