.main {
    width: 1210px;
    height: 255px;
    display: flex;
    background: rgb(13, 44, 73);
    border-top: 3px solid rgb(86, 160, 207);
}

.block_alert {
    width: 605px;
}

.name {
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0px 30px;

}
