.parametr-block {
    height: 32px;
    background: rgb(13, 44, 73);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(86, 160, 207);
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.parametr-block__body {
    padding: 0px 15px;
}