.parametr-head {
    width: 520px;
    height: 39px; /* changed */
    background: rgb(13, 44, 73);
    display: flex;
    align-items: end; /* changed */
    font-size: 10px; /* changed */
    font-weight: bold;
    color: rgb(109, 147, 183); /* changed */
    border-bottom: 2px solid rgb(86, 160, 207); /* added */
}
.parametr-head__name,
.parametr-head__value,
.parametr-head__unit {
    padding: 0px 15px;
}

.parametr-head__name {
    width: 260px;
    /* color deleted */
}

.parametr-head__value,
.parametr-head__unit {
    width: 130px;
}

.parametr-head__value {
    display: flex;
    justify-content: flex-end;
}